

#caldisplay{

  display:grid;

  margin: 120px auto;
  width: 40%;
  border: 15px solid rgb(30, 32, 27);
  padding: 15px 50px 15px 50px;
  grid-gap: 5px 5px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  background-color:rgb(202, 182, 182);
  border-radius: 10%;
}
button{
  border: 3px solid rgb(30, 123, 209);
  
}
